In [1]:
import pandas as pd

In [2]:
airport_list = "Resources/list-of-airports-in-united-states-of-america-hxl-tags-1.csv"
airport_list_df = pd.read_csv(airport_list)

In [4]:
airport_list_df.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords,score,last_updated
0,#meta +id,#meta +code,#loc +airport +type,#loc +airport +name,#geo +lat,#geo +lon,#geo +elevation +ft,#region +continent +code,#country +code +iso2,#adm1 +code +iso,#loc +municipality +name,#status +scheduled,#loc +airport +code +gps,#loc +airport +code +iata,#loc +airport +code +local,#meta +url +airport,#meta +url +wikipedia,#meta +keywords,#meta +score,#date +updated
1,3632,KLAX,large_airport,Los Angeles International Airport,33.94250107,-118.4079971,125,NaN,US,US-CA,Los Angeles,1,KLAX,LAX,LAX,http://www.iflylax.com/,http://en.wikipedia.org/wiki/Los_Angeles_Inter...,NaN,1335475,2010-01-23T11:27:55+00:00
2,3622,KJFK,large_airport,John F Kennedy International Airport,40.63980103,-73.77890015,13,NaN,US,US-NY,New York,1,KJFK,JFK,JFK,http://www.panynj.gov/CommutingTravel/airports...,http://en.wikipedia.org/wiki/John_F._Kennedy_I...,"Manhattan, New York City, NYC, Idlewild",1052075,2010-01-23T11:27:54+00:00
3,3754,KORD,large_airport,Chicago O'Hare International Airport,41.97859955,-87.90480042,672,NaN,US,US-IL,Chicago,1,KORD,ORD,ORD,http://www.flychicago.com/ohare/en/home/Pages/...,http://en.wikipedia.org/wiki/O'Hare_Internatio...,"CHI, Orchard Place",1503175,2014-08-19T18:55:27+00:00
4,3384,KATL,large_airport,Hartsfield Jackson Atlanta International Airport,33.63669967651367,-84.4281005859375,1026,NaN,US,US-GA,Atlanta,1,KATL,ATL,ATL,http://www.atlanta-airport.com/,http://en.wikipedia.org/wiki/Hartsfield-Jackso...,NaN,2002475,2008-06-13T14:30:04+00:00

In [13]:
airport_list_df = airport_list_df.drop(["continent", "iso_country", "iso_region", "municipality", "gps_code", "iata_code", "wikipedia_link", "keywords"], axis=1)
airport_list_df.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,scheduled_service,local_code,home_link,score,last_updated
0,#meta +id,#meta +code,#loc +airport +type,#loc +airport +name,#geo +lat,#geo +lon,#geo +elevation +ft,#status +scheduled,#loc +airport +code +local,#meta +url +airport,#meta +score,#date +updated
1,3632,KLAX,large_airport,Los Angeles International Airport,33.94250107,-118.4079971,125,1,LAX,http://www.iflylax.com/,1335475,2010-01-23T11:27:55+00:00
2,3622,KJFK,large_airport,John F Kennedy International Airport,40.63980103,-73.77890015,13,1,JFK,http://www.panynj.gov/CommutingTravel/airports...,1052075,2010-01-23T11:27:54+00:00
3,3754,KORD,large_airport,Chicago O'Hare International Airport,41.97859955,-87.90480042,672,1,ORD,http://www.flychicago.com/ohare/en/home/Pages/...,1503175,2014-08-19T18:55:27+00:00
4,3384,KATL,large_airport,Hartsfield Jackson Atlanta International Airport,33.63669967651367,-84.4281005859375,1026,1,ATL,http://www.atlanta-airport.com/,2002475,2008-06-13T14:30:04+00:00

In [14]:
airport_list_df = airport_list_df.drop(["ident"], axis=1)
airport_list_df.head()

,id,type,name,latitude_deg,longitude_deg,elevation_ft,scheduled_service,local_code,home_link,score,last_updated
0,#meta +id,#loc +airport +type,#loc +airport +name,#geo +lat,#geo +lon,#geo +elevation +ft,#status +scheduled,#loc +airport +code +local,#meta +url +airport,#meta +score,#date +updated
1,3632,large_airport,Los Angeles International Airport,33.94250107,-118.4079971,125,1,LAX,http://www.iflylax.com/,1335475,2010-01-23T11:27:55+00:00
2,3622,large_airport,John F Kennedy International Airport,40.63980103,-73.77890015,13,1,JFK,http://www.panynj.gov/CommutingTravel/airports...,1052075,2010-01-23T11:27:54+00:00
3,3754,large_airport,Chicago O'Hare International Airport,41.97859955,-87.90480042,672,1,ORD,http://www.flychicago.com/ohare/en/home/Pages/...,1503175,2014-08-19T18:55:27+00:00
4,3384,large_airport,Hartsfield Jackson Atlanta International Airport,33.63669967651367,-84.4281005859375,1026,1,ATL,http://www.atlanta-airport.com/,2002475,2008-06-13T14:30:04+00:00

In [19]:
airport_list_df = airport_list_df.drop(["scheduled_service", "last_updated"], axis=1)
airport_list_df.head()

,id,type,name,latitude_deg,longitude_deg,elevation_ft,local_code,home_link,score
0,#meta +id,#loc +airport +type,#loc +airport +name,#geo +lat,#geo +lon,#geo +elevation +ft,#loc +airport +code +local,#meta +url +airport,#meta +score
1,3632,large_airport,Los Angeles International Airport,33.94250107,-118.4079971,125,LAX,http://www.iflylax.com/,1335475
2,3622,large_airport,John F Kennedy International Airport,40.63980103,-73.77890015,13,JFK,http://www.panynj.gov/CommutingTravel/airports...,1052075
3,3754,large_airport,Chicago O'Hare International Airport,41.97859955,-87.90480042,672,ORD,http://www.flychicago.com/ohare/en/home/Pages/...,1503175
4,3384,large_airport,Hartsfield Jackson Atlanta International Airport,33.63669967651367,-84.4281005859375,1026,ATL,http://www.atlanta-airport.com/,2002475

In [20]:
airport_list_df = airport_list_df.drop([0])

In [21]:
airport_list_df.head()

,id,type,name,latitude_deg,longitude_deg,elevation_ft,local_code,home_link,score
1,3632,large_airport,Los Angeles International Airport,33.94250107,-118.4079971,125,LAX,http://www.iflylax.com/,1335475
2,3622,large_airport,John F Kennedy International Airport,40.63980103,-73.77890015,13,JFK,http://www.panynj.gov/CommutingTravel/airports...,1052075
3,3754,large_airport,Chicago O'Hare International Airport,41.97859955,-87.90480042,672,ORD,http://www.flychicago.com/ohare/en/home/Pages/...,1503175
4,3384,large_airport,Hartsfield Jackson Atlanta International Airport,33.63669967651367,-84.4281005859375,1026,ATL,http://www.atlanta-airport.com/,2002475
5,3878,large_airport,San Francisco International Airport,37.61899948120117,-122.375,13,SFO,http://www.flysfo.com/,1112475

In [22]:
airport_list_df.set_index('id')
airport_list_df.head()

,id,type,name,latitude_deg,longitude_deg,elevation_ft,local_code,home_link,score
1,3632,large_airport,Los Angeles International Airport,33.94250107,-118.4079971,125,LAX,http://www.iflylax.com/,1335475
2,3622,large_airport,John F Kennedy International Airport,40.63980103,-73.77890015,13,JFK,http://www.panynj.gov/CommutingTravel/airports...,1052075
3,3754,large_airport,Chicago O'Hare International Airport,41.97859955,-87.90480042,672,ORD,http://www.flychicago.com/ohare/en/home/Pages/...,1503175
4,3384,large_airport,Hartsfield Jackson Atlanta International Airport,33.63669967651367,-84.4281005859375,1026,ATL,http://www.atlanta-airport.com/,2002475
5,3878,large_airport,San Francisco International Airport,37.61899948120117,-122.375,13,SFO,http://www.flysfo.com/,1112475

In [23]:
airport_list_df.to_csv(r'C:\Users\bchik\Desktop\Project2_Visualization\Airline_Project_Files\Resources\Clean_Airport_List.csv')

In [29]:
largest_airlines_USA = "Resources/Largest Airlines 2015 with Origin or Destination in USA.xlsx"
largest__airlinesUSA_df = pd.read_excel(largest_airlines_USA)

In [31]:
largest__airlinesUSA_df.head()

,PASSENGERS,FREIGHT,MAIL,Passenger Miles,CARRIER_NAME
0,144637180,289611118,0,116627136731,Southwest Airlines Co. Total
1,137916298,975245401,240169831,186140690281,Delta Air Lines Inc. Total
2,118541411,987757310,153541964,166869071222,American Airlines Inc. Total
3,95028877,968514741,356224690,182508547016,United Air Lines Inc. Total
4,35130683,26557394,0,41726258863,JetBlue Airways Total

In [36]:
largest__airlinesUSA_df = largest__airlinesUSA_df.drop(["MAIL", "FREIGHT"], axis=1)
largest__airlinesUSA_df.head()

   PASSENGERS  Passenger Miles                  CARRIER_NAME
0   144637180     116627136731  Southwest Airlines Co. Total
1   137916298     186140690281    Delta Air Lines Inc. Total
2   118541411     166869071222  American Airlines Inc. Total
3    95028877     182508547016   United Air Lines Inc. Total
4    35130683      41726258863         JetBlue Airways Total

In [38]:
largest__airlinesUSA_df.to_csv(r'C:\Users\bchik\Desktop\Project2_Visualization\Airline_Project_Files\Resources\Clean_Largest_Airlines_USA.csv')

In [39]:
US_routes = "Resources/Top 1000 2015 US Airline Route Segments by Volume.xlsx"
US_routes_df = pd.read_excel(US_routes)
US_routes_df.head()

,PASSENGERS,Passenger Miles,CARRIER_NAME-ORIGIN_CITY_NAME-DEST_CITY_NAME,Unnamed: 3,Unnamed: 4
0,901242930,1301209121647,Grand Total Total,NaN,NaN
1,1061526,808294378,"Delta Air Lines Inc.-Atlanta, GA-New York, NY ...",NaN,NaN
2,1047732,797803500,"Delta Air Lines Inc.-New York, NY-Atlanta, GA ...",NaN,NaN
3,1025421,414270084,"Delta Air Lines Inc.-Orlando, FL-Atlanta, GA T...",NaN,NaN
4,1022276,412999504,"Delta Air Lines Inc.-Atlanta, GA-Orlando, FL T...",NaN,NaN

In [41]:
US_routes_df = US_routes_df.drop(["Unnamed: 3", "Unnamed: 4"], axis=1)
US_routes_df.head()

,PASSENGERS,Passenger Miles,CARRIER_NAME-ORIGIN_CITY_NAME-DEST_CITY_NAME
0,901242930,1301209121647,Grand Total Total
1,1061526,808294378,"Delta Air Lines Inc.-Atlanta, GA-New York, NY ..."
2,1047732,797803500,"Delta Air Lines Inc.-New York, NY-Atlanta, GA ..."
3,1025421,414270084,"Delta Air Lines Inc.-Orlando, FL-Atlanta, GA T..."
4,1022276,412999504,"Delta Air Lines Inc.-Atlanta, GA-Orlando, FL T..."

In [43]:
US_routes_df.to_csv(r'C:\Users\bchik\Desktop\Project2_Visualization\Airline_Project_Files\Resources\Clean_US_routes_2015.csv')

In [8]:
#united_airlines_employee = "Resources/United Airlines Employee Data and Analysis.xls"

In [32]:
#UA_employee_data = pd.read_excel(united_airlines_employee)

In [34]:
#UA_employee_data.head(50)

,United Airlines Employee Data and Analysis,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,United Airlines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1995.000000,1996.000000,1997.000000,1998.000000,1999.000000,2.000000e+03,2.001000e+03,2.002000e+03,2.003000e+03,...,2.006000e+03,2.007000e+03,2.008000e+03,2.009000e+03,2.010000e+03,2.011000e+03,2.012000e+03,2.013000e+03,2.014000e+03,2.015000e+03
2,Traffic Indicies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Stage Length in Miles (for SLA purposes),1045.820197,1068.089716,1087.531496,1114.604441,1120.971943,1.145246e+03,1.181370e+03,1.224045e+03,1.255129e+03,...,1.363587e+03,1.370946e+03,1.401694e+03,1.446444e+03,1.541198e+03,1.614448e+03,1.660681e+03,1.701988e+03,1.720326e+03,1.684170e+03
5,Seats Per Departure (for SDA purposes),194.172704,194.018388,194.714136,194.517871,192.201655,1.896649e+02,1.877729e+02,1.869247e+02,1.809334e+02,...,1.860531e+02,1.878975e+02,1.899338e+02,1.950324e+02,1.972169e+02,1.977689e+02,1.870594e+02,1.868879e+02,1.890222e+02,1.917799e+02
6,Price Per Gallon of Fuel,0.559357,0.662430,0.638639,0.535786,0.519633,7.458491e-01,8.251108e-01,7.288429e-01,9.918731e-01,...,2.023231e+00,2.110456e+00,2.879362e+00,1.683271e+00,2.278194e+00,2.869194e+00,3.251342e+00,3.041097e+00,2.908079e+00,1.909909e+00
7,Airborne Hours / Block Hours,0.869953,0.870196,0.869650,0.868832,0.861876,8.581040e-01,8.666014e-01,8.693504e-01,8.986595e-01,...,9.743532e-01,1.002630e+00,1.001476e+00,1.003119e+00,1.000613e+00,1.003991e+00,1.000778e+00,1.000504e+00,1.000812e+00,1.000739e+00
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Outsourcing Indicies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Maintenance $'s Outsourced,0.076962,0.090710,0.135514,0.149691,0.161883,1.630171e-01,1.843348e-01,1.670587e-01,2.128043e-01,...,4.489440e-01,4.565008e-01,4.429690e-01,4.060784e-01,4.004087e-01,5.149248e-01,4.732540e-01,5.205873e-01,5.256766e-01,5.214845e-01
12,Other Outsourcing as % of Total Exp. (ex-Fuel),0.068859,0.072340,0.072018,0.081955,0.083076,8.473164e-02,8.060791e-02,7.457063e-02,7.331218e-02,...,1.052502e-01,1.083450e-01,9.842160e-02,9.981155e-02,1.099419e-01,1.014544e-01,9.424977e-02,7.584725e-02,8.546345e-02,9.186873e-02
13,Transport Related Expense (000),446305.000000,535217.000000,546559.000000,474275.000000,602400.000000,1.037930e+06,1.245909e+06,1.196490e+06,1.598738e+06,...,3.491325e+06,3.253526e+06,3.511413e+06,3.158694e+06,3.738526e+06,4.163145e+06,6.412965e+06,7.488281e+06,7.310905e+06,5.968646e+06
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Productivity Measures (unadjusted),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Block Hours Per Employee Per Month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Pilots & Co-Pilots (note: Includes Flight Engi...,48.529273,47.712056,42.793886,39.716364,35.119843,3.848296e+01,3.578585e+01,4.056229e+01,4.002343e+01,...,4.971056e+01,4.859548e+01,4.581337e+01,4.495643e+01,4.375467e+01,4.252990e+01,4.577710e+01,4.331689e+01,4.184902e+01,4.024485e+01
19,Flight Attendants (note: Avg Crew = 1 FA per 5...,47.399638,47.480318,61.295084,31.991320,29.504392,3.076377e+01,2.863171e+01,3.241125e+01,3.429211e+01,...,3.901267e+01,3.851206e+01,4.172957e+01,3.771696e+01,3.731950e+01,3.659026e+01,3.944782e+01,3.890816e+01,3.934339e+01,4.016629e+01
20,Maintenance,36.492519,81.159016,11.886472,11.838261,11.803334,1.219166e+01,1.218929e+01,2.538160e+01,1.890747e+01,...,3.218164e+01,3.148622e+01,2.236667e+01,3.053820e+01,2.898931e+01,2.864195e+01,2.766468e+01,3.330944e+01,3.296429e+01,3.189777e+01
21,"Passenger, Cargo and Aircraft Handling",6.459583,6.230430,8.955504,8.419294,9.958466,1.019629e+01,1.026598e+01,5.465201e+00,7.365830e+00,...,6.165201e+00,6.138846e+00,6.444953e+00,5.959947e+00,5.881807e+00,5.579725e+00,5.361043e+00,5.082548e+00,5.413976e+00,5.655890e+00
22,Other,7.184130,6.370386,10.007559,10.065015,9.221658,7.645905e+00,6.846579e+00,1.305468e+01,1.642469e+01,...,4.255772e+01,4.088109e+01,4.969520e+01,4.451771e+01,4.326049e+01,3.936095e+01,4.313226e+01,4.749943e+01,5.032459e+01,5.131126e+01
23,Total,2.228746,2.187671,2.144837,2.088362,2.058782,2.026594e+00,1.925992e+00,2.147700e+00,2.468474e+00,...,2.835273e+00,2.791862e+00,2.816665e+00,2.692831e+00,2.619485e+00,2.511122e+00,2.575697e+00,2.541128e+00,2.616554e+00,2.658526e+00
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,ASMs Per Employee (000),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Pilots & Co-Pilots,20828.825167,20712.888324,18618.409556,17376.556920,15032.121661,1.538868e+04,1.463776e+04,1.861954e+04,1.776353e+04,...,2.279514e+04,2.238817e+04,2.143906e+04,2.199213e+04,2.210548e+04,2.167091e+04,2.185063e+04,2.076813e+04,2.026520e+04,1.976603e+04
27,Flight Attendants,11472.279410,11499.521785,14893.087979,7777.626648,7111.594204,7.367135e+03,6.953660e+03,7.959315e+03,8.411825e+03,...,9.615289e+03,9.442749e+03,1.028147e+04,9.460311e+03,9.560205e+03,9.427359e+03,1.006605e+04,9.981589e+03,1.007917e+04,1.028651e+04
28,Maintenance,34300.204629,76273.877283,11247.074621,11196.759604,10936.343030,1.107488e+04,1.111751e+04,2.330212e+04,1.678333e+04,...,2.951426e+04,2.901169e+04,2.093364e+04,2.987782e+04,2.929162e+04,2.918873e+04,2.641018e+04,3.194019e+04,3.192563e+04,3.133282e+04
29,"Passenger, Cargo and Aircraft Handling",6071.518398,5855.407141,8473.769304,7963.062466,9226.986161,9.262286e+03,9.363308e+03,5.017444e+03,6.538324e+03,...,5.654198e+03,5.656390e+03,6.032025e+03,5.831064e+03,5.943145e+03,5.686244e+03,5.117937e+03,4.873619e+03,5.243388e+03,5.555716e+03
30,Other,6752.537836,5986.938529,9469.231984,9519.603972,8544.298951,6.945523e+03,6.244570e+03,1.198513e+04,1.457948e+04,...,3.903031e+04,3.766822e+04,4.651123e+04,4.355503e+04,4.371163e+04,4.011237e+04,4.117635e+04,4.554687e+04,4.873892e+04,5.040247e+04
31,Total,2094.852315,2055.990506,2029.462054,1975.195989,1907.557981,1.840953e+03,1.756643e+03,1.971742e+03,2.191156e+03,...,2.600271e+03,2.572447e+03,2.636202e+03,2.634599e+03,2.646803e+03,2.559060e+03,2.458897e+03,2.436670e+03,2.534110e+03,2.611440e+03
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Employees Per Aircraft,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Pilots & Co-Pilots (Crews),6.289750,6.475270,7.338082,8.080868,9.251858,8.348731e+00,8.457537e+00,7.182131e+00,6.977204e+00,...,6.822745e+00,6.992878e+00,7.117464e+00,7.303560e+00,7.650930e+00,7.656992e+00,7.093279e+00,7.345498e+00,8.262849e+00,7.855656e+00
35,Flight Attendants (Crews),6.439649,6.506874,5.123169,10.032180,11.012727,1.044358e+01,1.057080e+01,8.988350e+00,8.143321e+00,...,8.693649e+00,8.823788e+00,7.814005e+00,8.705421e+00,8.970215e+00,8.899941e+00,8.231372e+00,8.177824e+00,8.789078e+00,7.871020e+00
36,Maintenance (Inhouse),8.364372,3.806705,26.418693,27.110627,27.528138,2.635276e+01,2.483000e+01,1.147775e+01,1.476938e+01,...,1.053900e+01,1.079273e+01,1.457862e+01,1.075184e+01,1.154784e+01,1.136973e+01,1.173734e+01,9.552371e+00,1.048990e+01,9.911342e+00
37,"Passenger, Cargo and Aircraft Handling (Inhouse)",47.253366,49.587016,35.065034,38.119904,32.627897,3.150989e+01,2.948186e+01,5.330522e+01,3.791178e+01,...,5.501239e+01,5.535606e+01,5.059386e+01,5.509143e+01,5.691515e+01,5.836329e+01,6.056839e+01,6.260327e+01,6.387027e+01,5.589743e+01
38,Other (Inhouse),42.487682,48.497603,31.378787,31.886954,35.234858,4.202039e+01,4.420604e+01,2.231565e+01,1.700194e+01,...,7.969470e+00,8.312456e+00,6.561500e+00,7.375535e+00,7.738330e+00,8.273456e+00,7.528234e+00,6.698693e+00,6.871236e+00,6.161410e+00
39,Total,136.954609,141.222524,146.409739,153.681548,157.823332,1.585340e+02,1.571450e+02,1.356445e+02,1.131273e+02,...,1.196225e+02,1.217189e+02,1.157663e+02,1.219319e+02,1.277976e+02,1.296835e+02,1.260667e+02,1.252137e+02,1.321555e+02,1.189192e+02
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Passengers Per Employee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Pilots & Co-Pilots,10351.757783,10422.898753,9275.250248,8674.673956,7366.087800,7.358234e+03,6.675699e+03,8.570355e+03,8.597964e+03,...,1.104430e+04,1.078983e+04,9.965241e+03,1.004885e+04,9.809482e+03,9.198817e+03,9.351151e+03,8.808532e+03,8.576662e+03,8.586915e+03
43,Flight Attendants,5701.630155,5786.655603,7419.383355,3882.724042,3484.845884,3.522661e+03,3.171288e+03,3.663579e+03,4.071521e+03,...,4.658631e+03,4.550871e+03,4.779002e+03,4.322693e+03,4.242416e+03,4.001704e+03,4.307848e+03,4.233561e+03,4.265716e+03,4.468746e+03
44,Maintenance,17046.924508,38381.653396,5603.025938,5589.613603,5359.061401,5.295551e+03,5.070254e+03,1.072569e+04,8.123528e+03,...,1.429973e+04,1.398199e+04,9.730313e+03,1.365205e+04,1.299839e+04,1.238997e+04,1.130245e+04,1.354702e+04,1.351160e+04,1.361185e+04
45,"Passenger, Cargo and Aircraft Handling",3017.495578,2946.489878,4221.430977,3975.296769,4521.436942,4.428844e+03,4.270233e+03,2.309471e+03,3.164703e+03,...,2.739472e+03,2.726060e+03,2.803789e+03,2.664384e+03,2.637317e+03,2.413684e+03,2.190262e+03,2.067082e+03,2.219113e+03,2.413558e+03
46,Other,3355.956735,3012.677574,4717.346884,4752.348870,4186.904396,3.321063e+03,2.847900e+03,5.516614e+03,7.056811e+03,...,1.891028e+04,1.815395e+04,2.161922e+04,1.990157e+04,1.939738e+04,1.702681e+04,1.762175e+04,1.931811e+04,2.062734e+04,2.189624e+04
47,Total,1041.124671,1034.591629,1011.029882,986.051568,934.747595,8.802679e+02,8.011351e+02,9.075696e+02,1.060571e+03,...,1.259838e+03,1.239774e+03,1.225352e+03,1.203826e+03,1.174540e+03,1.086264e+03,1.052305e+03,1.033482e+03,1.072489e+03,1.134482e+03
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Productivity Measures Revenue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
airline_accidents = "Resources/Airline_Accidents.xlsx"

In [45]:
airline_accidents_df = pd.read_excel(airline_accidents)
airline_accidents_df.head()

,airline,incidents_85_99,fatal_accidents_85_99,fatalities_85_99,incidents_00_14,fatal_accidents_00_14,fatalities_00_14
0,Aer Lingus,2,0,0,0,0,0
1,Aeroflot,76,14,128,6,1,88
2,Aerolineas Argentinas,6,0,0,1,0,0
3,Aeromexico,3,1,64,5,0,0
4,Air Canada,2,0,0,2,0,0